body {
	color: #414042;
	font: 16px/1.75em;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	text-transform: uppercase;
}
a {
	color: #414042;
	text-decoration: underline;
	&:hover {
		color: #008C95;
	}
}
.page-header {
	margin: 0;
	height: 75px;
}
#myCarousel {
	background-color: #b3b3b3;
	height: auto;
	margin-bottom: 5px;
	.item > img {
		width: 100%;
	}
	p {
		font-size: 16px;
		line-height: 20px;
	}

	@media screen and (max-width: 700px) {
		display: none;
	}
}
.carousel-caption {
	display: tabel-cell;
}
div[class*="col-"] {
	margin: 0;
	padding: 0;

	&:first-child {
		padding-right: 5px;
	}
}
div.tiles {
	background-color: #989898;
	overflow: hidden;
	height: 295px;
}

.about-tile {
	height: 140px;

}
section, aside {
	margin-top: 50px;
	padding-top: 15px;
}
section {
	border-right: 1px solid #666;
	margin-bottom: 50px;
	padding-right: 70px;

	h2 {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 991px) {
		padding-right: 10px;
	}
}
article {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
aside {
	padding-left: 40px;

	article {
		padding-left: 30px;

		&:first-child {
			background-color: #b3b3b3;
			padding-bottom: 50px;
			padding-top: 50px;
			margin-bottom: 70px;
		}
	}
	h3 {
		color: #414042;
		font-size: 24px;
		letter-spacing: 5px;
	}
	#demo-12-col{
    background:green;
    height: 30vh;
}

.col-xs-2{
    background: yellow;
    height:100%;   
    border: solid;
}
	@media screen and (max-width: 995px) {
		padding-left: 20px;

		article {
			padding-left: 5px;
			&:first-child {
				padding-bottom: 20px;
				padding-top: 20px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		padding-left: 0;

		h3, p {
			text-align: center;
		}
		article {
			padding-left: 5px;
			&:first-child {
				padding-bottom: 20px;
				padding-top: 20px;
				margin-bottom: 10px;
			}
		}

		.social h3 {
			display: none;
		}
		.col-xs-2 {
			background-color: yellow;
		}
	}
}

footer {
	background-color: #424143;
	color: #fff;
	padding: 50px;
	text-align: center;
	p, a {
		margin:0;
		padding:0;
	}
	a {
		border-left: 1px solid #fff;
		color: #fff;
		display: inline-block;
		margin-left: 10px;
		padding-left: 10px;
	}
}
/* STYLE GUIDE */

.sub-headline {
	font-style: italic;
}
.headline {
	font-weight: bold;
	font-size: 32px;
	color: #414042; 
	letter-spacing: 5px;
}