@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body {
  color: #414042;
  cursor: default;
  font: 400 16px/1.75em 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
    overflow-y: auto;
  }
}

h1, h2, h3 {
  text-transform: uppercase;
}

ul {
  padding-left: 1.5em;
}

a {
  color: #414042;
  text-decoration: underline;
}
a:hover {
  color: #008C95;
  text-decoration: none;
}
a.btn {
  text-decoration: none;
}

div[class*="col-"] {
  margin: 0;
  padding: 0;
}

section, aside {
  margin-top: 50px;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  section, aside {
    border: none;
    margin-top: 0;
    padding: 0 30px;
  }
}

section {
  border-right: 1px solid #666;
  margin-bottom: 50px;
  padding-right: 70px;
}
section h2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  section {
    padding-right: 10px;
  }
}

article {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

aside {
  padding-left: 40px;
}
aside article {
  padding-left: 30px;
}
aside h3 {
  color: #414042;
  font-size: 24px;
  letter-spacing: 5px;
}
@media screen and (max-width: 995px) {
  aside {
    padding-left: 20px;
  }
  aside article {
    padding-left: 5px;
  }
  aside article:first-child {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  aside {
    padding-left: 0;
  }
  aside h3, aside p {
    text-align: center;
  }
  aside article {
    padding-left: 5px;
  }
  aside article:first-child {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  aside .social h3 {
    display: none;
  }
}

.navbar-right {
  margin-top: 25px;
}
.navbar-right a {
  background: transparent !important;
}

footer {
  background-color: #424143;
  color: #fff;
  padding: 50px;
  text-align: center;
}
footer p, footer a {
  margin: 0;
  padding: 0;
}
footer a {
  border-left: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
}

form ul {
  list-style-type: none;
}
form ul label {
  margin-left: 5px;
}

/* STYLE GUIDE */
.sub-headline {
  font-style: italic;
}

.headline {
  font-weight: 700;
  font-size: 32px;
  color: #414042;
  letter-spacing: 5px;
}

.tile {
  background-color: #f38a00;
  overflow: hidden;
  margin: 5px 0 0 0;
  min-height: 240px;
  padding: 20px;
  width: auto;
}
.tile:first-child {
  margin-top: 0;
}
.tile.masthead {
  background-color: #008996;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .tile {
    margin-left: 5px;
    margin-top: 5px !important;
    margin-right: 5px;
  }
}

#myCarousel {
  background-color: #b3b3b3;
  height: auto;
  margin-bottom: 5px;
}
#myCarousel .item > img {
  width: 100%;
}
#myCarousel p {
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  #myCarousel {
    display: none;
  }
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social ul li {
  background-color: #b3b3b3;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.navbar .navbar-brand {
  background: transparent url("../img/logos/chs.svg") center center no-repeat;
  background-size: 300px 65px;
  height: 65px;
  width: 300px;
}
.navbar .navbar-brand a {
  display: inline-block;
  height: 65px;
  width: 300px;
}
.navbar h2 {
  margin-top: 10px;
}
.navbar h1 {
  display: block;
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  width: 200px;
  transform: translateX(-50%);
}
.navbar h1 img {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 990px) {
  .navbar h2 {
    transform-origin: 0 0;
    transform: scale(0.7) translateY(20px);
  }
}
@media screen and (max-width: 768px) {
  .navbar h1, .navbar h2 {
    display: inline-block;
    margin: 50px auto;
    max-width: 300px;
    padding: 0;
    position: static;
    text-align: center;
    width: auto;
    transform: none;
  }
}

.navbar > .container .navbar-brand {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  ul {
    list-style: none;
  }

  section, aside {
    border: none;
    margin-top: 0;
  }

  section {
    padding: 0 30px;
    margin-bottom: 0;
  }

  aside {
    padding: 0;
  }

  article {
    margin-bottom: 20px;
  }

  aside article {
    padding-left: 0;
  }

  .navbar-brand {
    float: none;
  }

  .social ul {
    overflow: hidden;
  }
  .social ul li {
    background-color: #b3b3b3;
    margin-left: 1%;
    margin-right: 1%;
    width: 18%;
  }
  .social ul li:first-child {
    margin-left: 1%;
  }

  footer a {
    border: 0;
    display: block;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
  }
}
#myModal {
  overflow: scroll;
}
